<head>
 <meta charset="utf-8">
 <div class="sub-text">
 <%= image_tag"ルール1.png",class:"img" %>
 </div>
</head>

<body>
    <div class="main">
            <div class="sub">
                    <div class="sub-text">
                        <%= image_tag"ルール2.png",class:"img" %>
                    </div>
                    
                    <div class="sub-text">
                        <%= image_tag"ルール3.png",class:"img" %>
                    </div>
                </div>
                <div class="sub1">
                    <div class="sub-text">
                        <%= image_tag"ルール4.png",class:"img" %>
                    </div>
                    
                    <div class="sub-text">
                        <%= image_tag"ルール5.png",class:"img" %>    
                    </div>

                    <div class="sub-text">
                        <%= image_tag"ルール6.png",class:"img"%>    
                    </div>

                    <div class="sub-text">
                        <%= image_tag"ルール7.png",class:"img"%>    
                    </div>
                </div>
            </div>
                <div class='link'>
                    <a href="questions/one"class="botton1">問題へ進む </a>
                </div>
    </div>
        <div class='logo'>
            <%= image_tag"ロゴ.png",class:"logo" %>
        </div>
        <div class='name'>
            九大謎解き企画Quest
        </div>
</body>