<head>
 <meta charset="utf-8">
 <div class="sub-text">
 <%= image_tag"R1.png",class:"img" %>
 </div>
</head>

<body>
    <div class="main">
            <div class="sub">
                    <div class="sub-text">
                        <%= image_tag"R2.png",class:"img" %>
                    </div>
                    
                    <div class="sub-text">
                        <%= image_tag"R3.png",class:"img" %>
                    </div>
                </div>
                <div class="sub1">
                    <div class="sub-text">
                        <%= image_tag"R4.png",class:"img" %>
                    </div>
                    
                    <div class="sub-text">
                        <%= image_tag"R5.png",class:"img" %>    
                    </div>

                    <div class="sub-text">
                        <%= image_tag"R6.png",class:"img"%>    
                    </div>

                    <div class="sub-text">
                        <%= image_tag"R7.png",class:"img"%>    
                    </div>
                </div>
            </div>
                <div class="text1">
                  挑戦ツイートはこちらから↓
                </div>
　　　　　　　　　<div class="link_X">
　　　　　　　    <iframe src="https://x.gd/lDxLq" width="640" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    　　　　　　 </div>

                <div class='title'>
                    4/6 19:00~
                </div>
    </div>
        <div class='logo'>
            <%= image_tag"logo.png",class:"logo" %>
        </div>
        <div class='name'>
            九大謎解き企画Quest
        </div>
</body>
